.add-btn {
  width: 100px;
  background-color: #00a86b;
  color: white;
  font-size: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-weight: 600;
}
